<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Driver</title>
</head>
<body>
    <h1>Add Driver</h1>

    <a href="/register"><button>Register</button></a>
    <a href="/login"><button>Login</button></a>
    <a href="/customers"><button>Customer</button></a>
    <a href="/drivers"><button>Driver</button></a>
    <a href="/manager"><button>Manager</button></a>

    <% if (errors) { %>
        <p style="color: red;">
            <%= errors %> 
        </p>
    <% } %>

    <form action="/drivers/add" method="post">
        <label for="fullName">Driver Name: </label>
        <input type="text" name="fullName" id="">

        <br><br>
        <label for="CategoryId">Driver License</label>
        <select name="CategoryId" id="">
            <option value="">Choose driver license</option>
            <option value="2">SIM A</option>
            <option value="3">SIM B</option>
            <option value="1">SIM C</option>
        </select>

        <br><br>
        <input type="submit" value="Add Driver">

    </form>

</body>
</html>