<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit Driver's Profile</h1>

    <form action="/manager/<%= data.id %>/edit" method="post">

        Name:
        <input type="text" name="fullName" value="<%= data.fullName %>" id="">
        <br><br>
        Money:
        <input type="text" name="money" value="<%= data.money %>" id="">
        <br><br>
        Point:
        <input type="text" name="point" value="<%= data.point %>" id="">
        <br><br>
        <input type="submit" value="Save">

    </form>


</body>

</html>