<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome To Fishveree</h1>

    <p>Looking for fresh, high-quality seafood delivery? Look no further than our app! With a user-friendly interface and a wide range of seafood commodities to choose from, our app makes it easy to get the seafood you love delivered right to your door. Start enjoying the best seafood delivery around!</p>
    <hr>
    <a href="/"><button>Home</button></a>
    <a href="/register"><button>Register</button></a>
    <a href="/login"><button>Login</button></a>
    <a href="/customers"><button>Customer</button></a>
    <a href="/drivers"><button>Driver</button></a>
    <a href="/manager"><button>Manager</button></a>
    <a href="/logout"><button>Logout</button></a>
    
</body>
</html>