<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <hr>

    <a href="/"><button>Home</button></a>
    <a href="/register"><button>Register</button></a>
    <a href="/login"><button>Login</button></a>
    <a href="/customers"><button>Customer</button></a>
    <a href="/drivers"><button>Driver</button></a>
    <a href="/manager"><button>Manager</button></a>
    <a href="/logout"><button>Logout</button></a>

    <% if (result) { %>
     <h3><%= result %></h3>
    <% } %>
    <form action="/login" method="post">
        <label for="email">Email</label><br>
        <input type="text" name="email" placeholder="input email here"><br>
        <label for="password">Password</label><br>
        <input type="text" name="password" placeholder="input password here"><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>